{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="west">
            <main>
                <article>

                    <div class="one-post-forum">

                        <header>
                            <div class="details-forum-post">
                                <p>{{ post.author }} | {{ post.published_date }}</p>
                            </div>
                        </header>

                        <div class="one-post-forum-txt">

                            <h2>{{ post.title }}</h2>
                            <p>{{ post.body|safe }}</p>

                        </div>

                    </div>

                    <div class="comments">

                        <section>

                            <header>

                                <h1>Answers ({{amount_comments}})</h1>
                                {% if amount_comments == 0 %}
                                    <p>You can be first to answer.</p>
                                {% endif %}

                            </header>

                            {% for comment in post.forum_comments.all %}
                                {% if comment.approved_comment %}
                                    <div class="comment">

                                        <article>
                                            <header>

                                                <div class="img-user">
                                                    <img src="{% static 'img/user.jpg' %}">
                                                </div>

                                                <div class="details">
                                                    <p>{{ comment.author }} | {{ comment.created_date }}</p>
                                                </div>

                                                <div style="clear: both;"></div>

                                            </header>

                                            <hr class="detail-border">
                                            <p>{{ comment.body|safe }}</p>

                                        </article>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <div class="comm-forum">


                                {% if request.user.is_authenticated %}
                                    <h1>Your Answer</h1>
                                    <form method="POST">

                                        <div  class="form-group">

                                            {% csrf_token %}
                                            {{ comment_form.media }}
                                            {{ comment_form.as_p }}

                                        </div>

                                        <p>Your comment will be added after approval by moderators.</p>

                                        <p><input type="submit" value="Send comment"></p>

                                    </form>

                                {% else %}

                                    <h2>Login to answer</h2>

                                    <span style="cursor:pointer">
                                        <div onclick="location.href='{% url 'login' %}';">
                                            <p><input type="submit" value="Login"></p>
                                        </div>
                                    </span>
                                {% endif %}

                            </div>

                        </section>
                    </div>
                </article>
            </main>
        </div>
        <div class="east">
            <aside>

                <nav>

                    <h2>Categories</h2>

                    {% for category in categories %}
                    <span style="cursor:pointer">
                        <div onclick="location.href='{% url 'forum_category_detail' name=category.name %}';">
                                <ul>
                                    <li>{{ category.name }}</li>
                                </ul>
                        </div>
                    </span>
                    {% endfor %}

                    <h2>Latest posts</h2>

                    {% for post in last_posts %}
                        <span style="cursor:pointer">
                            <div onclick="location.href='{% url 'forum_post_detail' pk=post.pk %}';">
                                <ul>
                                    <li>{{ post.title }}</li>
                                </ul>
                            </div>
                        </span>
                    {% endfor %}

                </nav>

            </aside>
        </div>
        <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}