{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
    <div class="container-forum">
        <div class="forum">
            <main>

                <header>

                     <div class="new-forum-post">

                        <a href="#" class="botton-new-post">ADD POST +</a>

                    </div>

                    <div style="clear: both;"></div>

                </header>
                <article>
                    <section>

                        {% for category in categories %}

                            <header>
                                <span style="cursor:pointer">

                                    <div class="details-forum" onclick="location.href='{% url 'forum_category_detail' name=category.name %}';">
                                        <h2>{{ category.name }}</h2>
                                    </div>

                                </span>
                            </header>

                            {% for post in posts %}
                                {% if post.category_id == category.id %}

                                    <span style="cursor:pointer">
                                        <div class="post-forum" onclick="location.href='{% url 'forum_post_detail' pk=post.pk %}';">

                                            <div class="details-forum-post">
                                                <p>{{ post.author }} | {{ post.published_date }}</p>
                                            </div>

                                            <div class="post-forum-txt">
                                                <h2>{{ post.title }}</h2>
                                                <p>{{ post.body|safe }}</p>
                                            </div>

                                        </div>
                                    </span>

                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                    </section>
                </article>
            </main>
        </div>
    </div>
{% endblock %}