{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
    <main>
        <article>
            <section>
                <div class="banner-new-post" style="background-image: url('{% static 'img/main_7.jpg' %}');">
                    <div class="container-register">
                        <header>

                            <center><h1>ADD NEW POST</h1></center>

                        </header>

                        <form method="post" action=".">

                            {% csrf_token %}

                            {{ post_form.media }}
                            {{ post_form.as_p }}

                            <div>
                                <p>By added  post you accept the Terms of Use and acknowledge the Privacy Policy and Cookie Policy.</p>
                            </div>

                            <div style="text-align: center;"><input type="submit" value="Add post"></div>

                        </form>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}