{% extends 'cycle_calendar/base.html' %}
{% load static %}
{% block content %}
<main>

        <div class="banner-cal" style="background-image: url('{% static 'img/main_7.jpg' %}');">

            <div class="cal-con-center">

                <div class="cal-con-first-left">

                    <div class="cal-add-button">
                        <a class="botton-new-cal" href="{% url 'cycle_info_new' %}"> CREATE CALENDAR </a>
                    </div>

                    <h2>Create your menstrual calendar</h2>
                    <ul>
                        <li>Convenient personalization</li>
                        <li>Online - always at your fingertips</li>
                        <li>Get to know yourself better</li>
                        <li>User-friendly</li>
                        <li>Free</li>
                        <li>You can share it with a chosen person</li>
                    </ul>

                </div>

                <div class="cal-con-first-right">

                    <div class="cal-add-button">
                        <a class="botton-new-cal" href="{% url 'cycle_check_share' %}"> FOLLOW CALENDAR </a>
                    </div>

                    <h2>Add to your watched list</h2>
                    <ul>
                        <li>Plan your time with another person fully consciously</li>
                        <li>Allows you to better understand the needs of the other person</li>
                        <li>Convenient to use</li>
                        <li>Free</li>
                        <li>Online - always at hand</li>
                    </ul>

                </div>

                <div style="clear:both"></div>
            </div>

        </div>
	<div class="container-cal-bot">
		<div class="cal-article">

			<h3>How to use a menstrual cycle calculator?</h3>
			<p>An online menstrual cycle calculator is a convenient solution for women who want to monitor their menstrual cycles. Regularly filling in data, such as entering the start dates of each period, allows the calculator to make more accurate predictions. By entering the dates for the entire year, you create a menstrual cycle calendar for the whole year.</p>
			<p>Keep in mind that a menstrual cycle calculator should not be used as a form of contraception. Why? Even the most regular menstrual cycle can be disrupted by factors independent of the woman, such as illness, stress, travel, or simply exhaustion.</p>

			<h3>How does a menstrual cycle calculator work?</h3>
			<p>Based on the data you enter, you will receive predictions about your next period and upcoming fertile days.</p>

			<h3>How to calculate your period?</h3>
			<p>It's a good idea to prepare for your period. To calculate when it will start, you need to take into account the average length of your menstrual cycle, as well as the start date and length of your last period.</p>
			<p>The period usually lasts from 4 to 7 days, with an average length of 4-5 days. During this time, under the influence of changes in the concentration of sex hormones, the endometrium (lining) of the uterus is shed. During this time, and also before your period, you may experience characteristic symptoms such as abdominal pain, mood and appetite swings, weight gain, and skin problems.</p>
			<p>To calculate when your period will end, you need to estimate how many days it lasted over the last six months and take the average from those calculations. For example, if your period lasted 5, 6, 5, 7, 7, and 5 days over the last six months, the average length would be just under 6 days.</p>

		</div>
	</div>
</main>
{% endblock %}