{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <main>
        <article>
                <section>

                    <div class="banner" style="background-image: url('{% static 'img/main_7.jpg' %}');">

                        <p class="h1-banner">Hello, I'm Mark</p>
                        <p class="h2-banner">I am a beginner Python Backend Developer <br> with a passion for creating web and backend applications.<br> Currently, I am learning various tools and frameworks such as Django and MySQL. <br>I am open to learning and developing my programming skills by <br>working on interesting projects and utilizing industry best practices.</p>
                    </div>

                </section>
        </article>
    </main>
{% endblock %}