{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="west">
            <main>
                <article>
                    <header>

                        <h1>{{ post.title }}</h1>
                        <p>{{ post.published_date }} | {{ post.author }}</p>

                    </header>

                    <p>{{ post.body|safe }}</p>


                    <div class="comments">

                        <section>

                            <header>

                                <h1>Comments</h1>

                                <p>Zachęcam do dyskusji w komentarzach, jednocześnie proszę o zachowanie kultury wypowiedzi.</p>

                            </header>

                            {% for comment in post.comments.all %}
                                {% if comment.approved_comment %}
                                    <div class="comment">

                                        <article>
                                            <header>

                                                <div class="img-user">
                                                    <img src="{% static 'img/user.jpg' %}">
                                                </div>

                                                <div class="details">

                                                    <p>{{ comment.author }} | {{ comment.created_date }}</p>

                                                </div>

                                                <div style="clear: both;"></div>

                                            </header>

                                            <hr class="detail-border">
                                            <p>{{ comment.text|safe }}</p>

                                        </article>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <div class="comm-forum">

                                <h1>New comment</h1>

                                <form method="POST">
                                    {% csrf_token %}

                                    <div  class="form-group">
                                        {{ form.as_p }}
                                    </div>

                                    <button type="submit">Send comment</button>

                                </form>
                            </div>

                        </section>
                    </div>
                </article>
            </main>
        </div>
        <div class="east">
            <aside>

                <nav>

                    <h2>Categories</h2>

                    {% for category in categories %}
                        <span style="cursor:pointer">

                            <div onclick="location.href='{% url 'category_detail' name=category.name %}';">
                                <ul>
                                    <li>{{ category.name }}</li>
                                </ul>
                            </div>

                        </span>
                    {% endfor %}

                    <h2>Latest posts</h2>

                    {% for post in last_posts %}
                        <span style="cursor:pointer">
                            <div onclick="location.href='{% url 'post_detail' pk=post.pk %}';">
                                <ul>
                                    <li>{{ post.title }}</li>
                                </ul>
                            </div>
                        </span>
                    {% endfor %}

                </nav>

            </aside>
        </div>
        <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}