{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <main>
        <article>
            <section>

                <div class="banner" style="background-image: url('{% static 'img/main_7.jpg' %}');">

                    <p class="h1-banner">Open Your Mind to Freedom</p>
                    <p class="h2-banner">We have all you need in one place!</p>
                </div>

            </section>
            <section id="newest">

                <div class="entries">

                        <header>
                                                        
                            <h1>Latest posts</h1>
                            <p>You will find recently published articles below.</p>

                        </header>
                        {% for post in posts %}
            
                        <span style="cursor:pointer">
                            <div class="entry" onclick="location.href='{% url 'post_detail' pk=post.pk %}';">

                                <div class="entryimg">
                                    <img src="media/{{post.summary_image}}">
                                </div>

                                <div class="entrytxt">
                                    <h2>{{ post.title }}</h2>
                                    <p>{{ post.summary_text|linebreaksbr }}</p>
                                </div>

                            </div>
                        </span>
                        {% endfor %}

                </div>

            </section>
        </article>
    </main>
{% endblock %}