<!DOCTYPE html>
<html lang="pl">
<html>
    <head>
        <meta charset="utf-8">
        <title>Calendar blog</title>
        <meta name="author" content="Marek Drąg">

        <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
        
        <link rel="stylesheet" href="main.css">  
	    <link rel="stylesheet" href="css/fontello.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
	

    </head>
    <body>
        <header>
            <div class="logo">
                        
                <div class="logoimg">
                        
                        <a href="#"><img src="img/logo_sqer.png"></a>
                                        
                </div>
            </div>

            <nav id="topnav">
            
                <ul class="menu">
                        <li><a href="index.html">Calendar</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">About me</a></li>
                        <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </header>
        <main>        
            <article>
                <section>

                    <div class="banner-reg">

                        <div class="container-register">

                            <header>

                                <h1>Zarejestruj się</h1>

                            </header>
                        
                            <form method="post" action="">

                                <div>
                                    <label><input type="radio" value="1" name="sex" checked>WOMAN</label>
						
						            <label><input type="radio" value="2" name="sex">MAN</label>
                                </div>
                                
                                <input type="text" name="login", placeholder="Login">

                                <input type="email" name="emial", placeholder="Email address">

                                <input type="password" name="password_1", placeholder="Password">

                                <input type="password" name="password_2", placeholder="Repeat password">

                                <div>
                                <label><input type="checkbox" name="statute"> Akceptuję regulamin</label>
                                </div>

                                <input type="submit" value="Sign up">
                                                    
                            </form>
                                
                        </div>
                    </div>
                </section>
            </article>
        </main>

        
        <footer>

            <div class="contact-conteiner">

                <div class="contact">

                    

                    <div class="logo-contact">

                        <img src="img/logo_sqer.png">

                    </div>

                    <div class="email">

                        <h5>Subscribe to the newsletter to stay up to date</h5>
                        <input type="email" name="email" placeholder="Email">
                        <a href="#" class="botton">Subscribe</a>                            

                    </div>

                    <div class="information">

                        <h5>Calendar Blog by Marek Drag</h5>
                        <h5>Mail: marekdrag@gmail.com</h5>
                        <h5>Phone number: 508-842-837</h5>

                    </div>

                    <div style="clear:both"></div>
                </div>
            </div>
                   
            <div class="socials">

                <div class="socialdivs">

                    <div class="fb">
                        <i class="icon-facebook"></i>
                    </div>

                    <div class="tw">
                        <i class="icon-twitter"></i>
                    </div>
                    
                    <div style="clear:both"></div>
                </div>
            </div>

            <div class="info">
                Wszelkie prawa zastrzeżone &copy; 2023 Dziękuję za wizytę!
            </div>
        
        </footer>
        
    </body>
</html>