{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <main>
        <article>
            <section>

                <div class="banner" style="background-image: url('{% static 'img/main_7.jpg' %}');">

                    <div class="container-log">

                        <header>

                            <h1>LOGIN</h1>

                        </header>

                        <form method="post" action="{% url 'login' %}">

                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="hidden" name="next" value="{{ next }}" />
                            <p><input type="submit" value="Login"></p>

                        </form>

                        <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>

                        <p>Don't have an account yet?</p>
                        <p> <a href="{% url 'register' %}">Register now</a>.</p>

                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}