{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <main>
        <article>
            <section>

                <div class="banner" style="background-image: url('{% static 'img/main_7.jpg' %}');">

                    <div class="container-log">

                        <header>

                            <h1>Forgot your password?</h1>
                            <p>Please enter your email address to define a new password.</p>

                        </header>

                        <form action="." method="post">
                            {{ form.as_p }}
                            <p><input type="submit" value="Send email"></p>
                            {% csrf_token %}
                        </form>

                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}