{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <main>
        <article>
            <section>

                <div class="banner" style="background-image: url('{% static 'img/main_7.jpg' %}');">

                    <div class="container-log">

                        <header>

                            <h1>Password reset</h1>

                        </header>

                        <p>
                            Email was sent with procedure information about create new password.
                        </p>
                        <p>
                            If you haven't received an email, please check that you have entered the correct email address.
                        </p>

                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}