{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="container-log">
        <header>

            <h1>Password reset</h1>

        </header>

        {% if validlink %}
            <p>Enter the new password twice:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Change Password"/></p>
            </form>
        {% else %}
            <p>The password reset link is invalid. You must start the password reset procedure again.</p>
        {% endif %}
    </div>
{% endblock %}