{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <div class="container-log">
        <header>

            <p>
                We have received a request to reset the password of a user using an email address: {{ email }}.
            </p>

        </header>

        <p>
             Click the link:
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            Your username: {{ user.get_username }}
        </p>
    </div>
{% endblock %}