{% extends 'users/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <div class="container-register">
        <header>

            <h1>REGISTER</h1>

        </header>

        <form method="post" action=".">

            {{ user_form|crispy }}
            {% csrf_token %}

            <div>
                <p>By registering in you accept the Terms of Use and acknowledge the Privacy Policy and Cookie Policy.</p>
            </div>

            <div style="text-align: center;"><input type="submit" value="Sign up"></div>

        </form>
    </div>
{% endblock %}